.tasks-list{
    flex: 1 1 auto;
	display: flex;
	flex-direction: column;
    justify-content: center;
    background: rgb(204, 204, 204);
    &__list{
        display: flex;
        font-size: 32px;
        flex-direction: column;
        justify-content: space-between;
    }
    &__list li{
        align-self: center;
        cursor: pointer;
        margin: 15px 0;
    }
    &__list li:first-child{
        margin: 30px 0;
    }
    &__list li:last-child{
        margin: 30px 0;
    }
    &__list li a{
        color: rgb(53, 67, 73);
    }
    &__delete {
        margin: 0 0 0 15px;
        font-size: 20px;
        background: rgb(194, 121, 121);
        border-radius: 15px;
        padding: 5px;
    }
}